main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main-title {
    text-align: center;
}

.main-section {
    background-color: rgb(250, 246, 194);
    border-radius: 10px;
    padding: 15px;
}

.section-celcius {
    padding-top: 10px;
}

.section-farenheit {
    padding-top: 10px;
}

.section-result {
    padding-top: 10px;
}

.section-reverse {
    padding-top: 1px;
}

.section-explanation {
    padding-top: 1px;
}

textarea {
    width: 75%;
    height: 30px;
    resize: none;
    border: 1px solid lavender;
    border-radius: 5px;
    font-size: 15px;
    color : rebeccapurple;
}

.formula-s>sub {
    font-style: italic;
}

button {
    border: none;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    font-family: arial;
}

#button-convert {
    background-color: blue;
    color: white;
    margin-right: 10px;
}

#button-reset {
    background-color:red;
    color: white;
    margin-right: 10px;
}

#button-reverse {
    background-color: green;
    color: white;
}